* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffdd57;
}

main {
    flex: 1;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}


#map {
    height: 80vh;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #007bff;
}

p {
    line-height: 1.6;
}

.legend {
    background: white;
    border: 2px solid black;
    padding: 10px;
    line-height: 1.5em;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    main {
        padding: 40px;
    }

    nav ul li {
        margin: 0 20px;
    }
}
